<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mad_project">

    <application
        android:allowBackup="true"
        android:label="Mobile App Project"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
        <activity
            android:name=".Project.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Project.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Project.HomeActivity" />
        <activity android:name=".Project.HistoryActivity" />
        <activity android:name=".Project.EditMoodActivity" />
    </application>

</manifest>